body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

label {
    color: darkslategrey
}

input {
    display: block;
}

input[type=text],
input[type=password] {
    width: 100%;
    max-width: 16em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 6px auto 16px auto;
}

input[type=submit] {
    background-color: chartreuse;
    color: ivory;
    padding: 12px 20px;
    border: 1px solid chartreuse;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: 10px auto;
    font-size: large;
    font-weight: bold;
}

input[type=submit]:hover {
    color: chartreuse;
    background-color: ivory;
}

span.error {
    display: block;
    margin: -6px auto 16px auto;
    color: crimson;
    font-style: italic;
    font-size: small;
}

.container {
    text-align: center;
}

.box {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px auto;
    width: 50%;
    min-width: 18em;
}

.title {
    border-radius: 5px;
    background-color: snow;
    padding: 20px;
    margin: 10px auto;
    width: 50%;
    min-width: 18em;
    color: darkslategrey;
}

.title hr {
    color: darkslategrey;
}
