@(user: String)
@layouts.html.default("User Authentitacion: a simple, extensible, and most importantly, generic user authentacion service", "You are logged in as Admin!"){
  <p>Welcome @user!</p>
  <p>Here you can do administration work</p>
}
